<div class="container">
    <div class="row">
        <div class="col-md-12">
                    <div class="row justify-content-between px-4">
                        <div class="col-auto">
                            <h4>
                                Edit Movie
                            </h4>
                        </div>
                        <div class="col-auto">
                            <button pButton pRipple type="button" icon="pi pi-trash" class=" p-button-outlined p-button-rounded  p-button-danger" (click)="deleteMovie()"></button>
                        </div>
                    </div>
        </div>
    </div>
</div>