name: Build App

on:
  push:
    branches:
      - master


# on:
#   pull_request:
#     types:
#       - closed
#     branches:
#       - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4



      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          cache: 'npm'
      - name: Install angular cli
        run: npm install -g @angular/cli

      - name: Install dependencies
        run: npm install

      - name: Build App
        run: ng build
